@* All of the below code is by Arturs Timofejevs *@
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/mainStyle.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TP-ME</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
                    <li><a>@Html.ActionLink("About", "About", "Home")</a></li>
                    @Html.Partial("_LoginPartial");
                </ul>
                
            </div>
        </div>
    </nav>
    <div class="container" id="wrapper">
        @RenderBody()
        <div class="push"></div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive center-block" src="https://placeholdit.imgix.net/~text?txtsize=14&txt=150%C3%97150&w=150&h=150" />
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="links">
                                <li><a href="*">Home</a></li>
                                <li><a href="*">About</a></li>
                                <li><a href="*">Sign In</a></li>
                                <li><a href="*">Register</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="links">
                                <li><a href="*">Privacy</a></li>
                                <li><a href="*">Feedback</a></li>
                                <li><a href="*">Terms and Conditions</a></li>
                                <li><a href="*">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 copyright">
            <p>Copyright © 2016. <a href="#">TP-ME</a>. All rights reserved.</p>
        </div>
    </footer>
    @Scripts.Render("~/scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/scripts/bootstrap.min.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/scripts/mainJS.js")
    @RenderSection("scripts", required: false)
</body>
</html>



