@model tpme.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="welcome">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <p class="para">Change your account settings</p>
    <hr />
    <dl class="dl-horizontal Content">
        <dt>Username: @HttpContext.Current.User.Identity.Name</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>

    </dl>
</div>

